*.doc
*.docx
*.class
*.csv
/Tugas-1/nbproject/private/
/Tugas-1/build/
/Tugas-2/nbproject/private/
/Pra UTS/Soal1/nbproject/private/
/Pra UTS/Soal1/build/
/Pra UTS/Soal2/nbproject/private/
/Pra UTS/Soal2/build/
/Pra UTS/Soal3/nbproject/private/
/Pra UTS/Soal3/build/
/UTS/soal1/nbproject/private/
/UTS/soal1/build/
/UTS/Soal2/nbproject/private/
/UTS/Soal2/build/
/UTS/PertemuanInterface/nbproject/private/
/IOProgram/Latihan/nbproject/private/
/IOProgram/Latihan/build/
/IOProgram/Latihan1/nbproject/private/
/IOProgram/Latihan2/nbproject/private/
/IOProgram/Latihan2/build/
/IOProgram/Latihan1/build/
/IOProgram/Latihan1/*.dat
/IOProgram/TugasIO/nbproject/private/
/IOProgram/TugasIO/build/
/IOProgram/TugasIO/*.dat
/BukuAlamat/nbproject/private/
/BukuAlamat/build/
/BukuAlamat/*.dat
/BukuAlamat/dist/
/UAS-GUI-PROGRAMII/nbproject/private/
/UAS-GUI-PROGRAMII/build/