*.doc
*.docx
*.class
/Tugas-1/nbproject/private/
/Tugas-1/build/
/Tugas-2/nbproject/private/
/Pra UTS/Soal1/nbproject/private/
/Pra UTS/Soal1/build/
/Pra UTS/Soal2/nbproject/private/
/Pra UTS/Soal2/build/
